[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
aioboto3 = "*"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "^3.8-3.9"
